<!-- home.html !-->
<h1>{{ message }}</h1>

<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/robertnorthard" title="Twitter!" rel="nofollow">
	<i class="fa fa-twitter"></i>
</a>
<a class="btn btn-social-icon btn-github" href="https://github.com/RobertNorthard/" title="Github!" rel="nofollow">
	<i class="fa fa-github"></i>
</a>
<a class="btn btn-social-icon btn-linkedin" href="https://uk.linkedin.com/in/robertnorthard" title="Linkedin" rel="nofollow">
	<i class="fa fa-linkedin"></i>
</a>
